.text4{
    font-family: "Quicksand", sans-serif;
    color:#CCCCCC;
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 18px;
  }

  .heading h1 {
    margin-top:0px;
    font-family: "Quicksand", sans-serif;
    font-size: 36px; /* Increase the font size for the heading */
    margin-bottom: 20px; 
    /* Add space below the heading */
  }