.paddingall{
    padding: 10px 10px 10px 10px;
}

.pricetitle{
    font-weight: 600;
}
.pricesubtitle{
    font-size: 14px;
}
.iconstyle{
    margin-top: 20px;
    color: aliceblue;
}

.gradient {
    background: rgb(155, 71, 238);
    background: linear-gradient(158deg, rgba(155, 71, 238, 1) 0%, rgba(54, 8, 161, 1) 100%);
}


.gradientlight {
    background: rgb(0, 255, 255);
    background: linear-gradient(158deg, rgba(0, 255, 255, 1) 0%, rgba(0, 191, 255, 1) 100%);
}

.bgcolor{
    min-height: 100vh;
    background: #292c37;
    background: #292c37;
}
