.paddingall {
    padding: 10px;
}

.pricetitle {
    font-weight: 600;
    color: white; /* Adjusted font color for dark mode */
}

.pricesubtitle {
    font-size: 14px;
    color: #ccc; /* Adjusted font color for dark mode */
}

.iconstyle {
    margin-top: 20px;
    color: #eee; /* Adjusted icon color for dark mode */
}

.gradient {
    background: rgb(40, 34, 70);
    background: linear-gradient(158deg, rgba(40, 37, 70, 1) 0%, rgba(30, 47, 141, 1) 100%);
}

.gradientlight {
    background: rgb(53, 138, 148);
    background: linear-gradient(158deg, rgba(53, 138, 148, 1) 0%, rgba(91, 180, 96, 1) 100%);
}

.gradientlight2 {
    background: rgb(49, 92, 101);
    background: linear-gradient(158deg, rgb(9, 52, 85) 0%, rgb(79, 165, 214) 100%);
}

.bgcolor {
    min-height: 100vh;
    background: #171b2c; /* Changed to dark background color */
}
.custom-card {
    background-color: #232a3e;
  }
  