body {
margin: 0;
padding: 0;
}

.login-container {
background-color: #27272a;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.logincontainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    background-color: #313844;
    padding-bottom: 30px;
    width:520px ;
    border-radius: 10px;
    height: 450px;
}

.loginheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    background-color: #313844;

}

.text{
    color: white;
    font-size: 30px;
    font-weight: 700;
    /* background-color: #adadad; */
    background-color: #313844;

}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* background-color: #adadad; */
    background-color: #313844;
    margin-bottom: 20px;

}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
    
}

.input img{
    margin-left: 20px;
    
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border:none;
    outline: none;
    color: black;
    font-size: 19px;
    margin-left:6px;
    margin-bottom: 0px;
}

.input:focus-within {
    border: 3px solid #6a5ece; /* Change the border of the parent when any child input is focused */
  }

.input input:focus {
    border-color: #6a5ece; /* Change the border color to the desired color when the input is focused */
    color: #6a5ece;
  }
.error-message{
    color: rgb(212, 60, 60);
    /* align-items: center; */
    /* margin-left: 80px; */
    text-align: center;
}
.submit-container{
    display: flex;
    gap:30px;
    margin-top: 10px;
    margin-left: 140px;
    /* background-color: #161a29; */
    background-color: #313844;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #6a5ece;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
